*/bin/*
*/gen/*
.settings
*.pydevproject
/android_mega_api/examples
/android_mega_api_test/bin
/android_mega_api_test/gen
/android_mega_api/bin
/android_mega_api/gen
/mega_api/target/
/mega_api/docs/
/mega_api/src/test/
/mega_api/cpp
/mega_api_old
