<configuration>

	<!-- For colour ansi logging -->
	<comment>
		<appender name="STDOUT" class="org.danbrough.logback.ColourConsoleAppender">
			<encoder>
				<pattern><![CDATA[%d{HH:mm:ss.SSS} %thread %highlight(%level %logger{5} %msg%n)]]></pattern>
			</encoder>
		</appender>
	</comment>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%d{HH:mm:ss.SSS} %thread %level %logger{5} - %msg%n]]></pattern>
		</encoder>
	</appender>


	<root level="trace">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

